.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.PaginationPages {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.PaginationButton {
  background-color: #000;
  border: 1px solid #f5c518;
  color: #f5c518;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.3;
  padding: 5px 15px;
  transition: 0.4s;
}

.PaginationButton:hover,
.PaginationPageActive {
  background-color: #f5c518;
  color: #000;
  cursor: pointer;
}

.PaginationFirst {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.PaginationPrev {
  border-left: none;
}

.PaginationNext {
  border-right: none;
}

.PaginationLast {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.PaginationPagesItem:last-child .PaginationPage {
  border-right: none;
}

.PaginationPage {
  border-left: none;
}
