.Button {
  border-radius: 4px;
  display: inline-block;
  font-size: 0.875rem;
  margin-right: 10px;
  padding: 7px 17px;
  transition: 0.4s;
}

.Button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ButtonPrimary {
  background-color: #f5c518;
  border: 2px solid #f5c518;
  color: #000;
}

.ButtonPrimary:hover {
  background-color: #000;
  color: #f5c518;
}

.ButtonDanger {
  background-color: #dd5044;
  border: 2px solid #dd5044;
  color: #fff;
}

.ButtonDanger:hover {
  background-color: #000;
  color: #dd5044;
}
