.ResponsiveImageWrapper {
  position: relative;
}

.ResponsiveImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.AtuallyImage {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
