.MoviesSearchForm {
  align-items: center;
  display: flex;
  justify-content: center;
}

.MoviesSearchFormSearchInput {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid #fff;
  border-right: none;
  font-family: inherit;
  font-size: 1rem;
  height: 37px;
  padding: 0 10px;
  transition: 0.4s;
}

.MoviesSearchFormSearchInput:hover,
.MoviesSearchFormSearchInput:focus {
  border: 2px solid #f5c518;
  border-right: none;
  outline: none;
}

.MoviesSearchFormSubmit {
  background-color: #f5c518;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #f5c518;
  border-left: none;
  color: #000;
  font-family: inherit;
  font-size: 1rem;
  padding: 7px 15px;
  transition: 0.4s;
}

.MoviesSearchFormSubmit:hover {
  background-color: #000;
  color: #f5c518;
  cursor: pointer;
}
