.MovieFull {
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.MovieFullMedia {
  flex-shrink: 0;
  margin-right: 25px;
}

.MovieFullContent {
  color: #000;
  width: 100%;
}

.MovieFullTitle {
  margin-bottom: 25px;
}

.MovieFullField {
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 7px 0;
}

.MovieFullField:last-child {
  border-bottom: none;
}

.MovieFullFieldLabel {
  flex-shrink: 0;
  font-weight: bold;
  margin-right: 7px;
  max-width: 130px;
  width: 100%;
}
