.Header {
  background-color: #121212;
  background-image: url(../../assets/dirty_old_shirt.png);
  box-shadow: 0 0 40px rgba(245, 197, 24, 0.3);
  color: #fff;
  padding: 15px 0;
  padding-bottom: 0;
  position: relative;
  z-index: 9;
}

.HeaderRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
